<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mth.screenshare">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity android:name="com.mth.screenshare.ScreenAnchorActivity" />
        <activity android:name=".ScreenEntranceActivity" />
        <activity
            android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>
